/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

/* BODY COMO FLEX */
body {
  background-color: rgb(244, 246, 248);
  display: flex;
  flex-direction: column;
}

/* CABEÇALHO */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(11, 15, 20);
  padding: 15px 30px;
  color: white;
  width: 100%;
}

.marca {
  color: rgb(77, 163, 255);
  font-size: 24px;
}

.input-busca {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.cabecalho-direita a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.cabecalho-direita a:hover {
  color: #4da3ff;
}

/* BANNER */
.destaque {
  background: linear-gradient(90deg, rgb(77, 163, 255), rgb(28, 109, 208));
  color: white;
  padding: 60px 20px;
  text-align: center;
}

/* CONTEÚDO */
.conteudo {
  padding: 30px;
  flex: 1; 
  padding-left: 60px;
}

.titulo {
  margin-bottom: 20px;
}

/* VITRINE */
.vitrine {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding-top: 70px;
}

/* PRODUTO */
.item-produto {
  border-radius: 10px;
  padding: 15px;
  display: flex;
  width: 300px;
  flex-direction: column;
  min-height: 360px;
  transition: 0.3s;
}

.item-produto:hover {
  transform: scale(1.03);
}

/* IMAGEM */
.item-produto img {
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

/* TEXTO */
.item-produto h3 {
  margin-top: 10px;
}

.valor {
  color: green;
  font-weight: bold;
  margin: 10px 0;
}

/* BOTÕES */
.acoes-produto {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.btn-comprar {
  background-color: rgb(28, 109, 208);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.btn-comprar:hover {
  background-color: rgb(77, 163, 255);
}

/* RODAPÉ */
.rodape {
  background-color: rgb(11, 15, 20);
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
}

.info {
    max-width: 400px;
}

.info h2 {
  padding-bottom: 20px;
}

.preco {
    color: #00a650;
    font-size: 32px;
    padding-bottom: 20px;
}


@media (max-width: 870px) {
    
    .cabecalho{
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .cabecalho-centro {
      padding: 15px;
    }

    .cabecalho-direita {
      padding: 15px;
    }
    .item-produto {
        flex-direction: column;
        padding: 15px;
    }

    .input-busca {
      width: 100%;
    }

    .conteudo {
      padding-left: 30px;
    }

    .item-produto img {
        max-width: 200px;
        margin: 0;
    }

    .info {
        max-width: 100%;
    }

    .preco {
        font-size: 24px;
    }

    .btn-carrinho {
        font-size: 14px;
        padding: 12px;
    }
    .rodape {
      flex-direction: row;
      padding: 15px;
  
    }
}