{% load static %}



<!DOCTYPE html>

<html lang="pt-br">

<head>

&#x20; <meta charset="UTF-8">

&#x20; <title>Contato - TechHome</title>

&#x20; <link rel="stylesheet" href="{% static 'css/Tela2_Contato.css' %}">

</head>



<body>



 <!-- TOPO -->

&#x20; <header class="cabecalho">

&#x20;   <h1 class="marca">TechHome</h1>



&#x20;   <nav class="menu">

&#x20;     <a href="{% url 'TechHome:tela_principal' %}">Início</a>

&#x20;     <a href="#">Produtos</a>

&#x20;     <a href="#">Contato</a>

&#x20;     <a href="#">Carrinho 🛒</a>

&#x20;   </nav>

&#x20; </header>



<!-- CONTEÚDO -->

<main class="pagina-contato">



    <h2 class="titulo">Central de Suporte</h2>

    <p class="subtitulo">Precisa de ajuda? Problemas na compra? Fale com a gente!</p>


    <div class="container-contato">


     <!-- FORMULÁRIO -->

     <form class="formulario-contato" method="post">

       <label>Nome</label>

       <input type="text" placeholder="Seu nome" required name="nome">



       <label>Assunto</label>

       <input type="text" placeholder="Motivo do contato" name="assunto">



       <label>Mensagem</label>

       <textarea placeholder="Digite sua mensagem..." rows="5" name="mensagem"></textarea>



       <button type="submit" class="btn-enviar">Enviar mensagem</button>

     </form>



     <!-- INFO -->

     <div class="info-contato">

       <h3>Informações para suporte</h3>

       <h5>E-mail</h5>

       <p> contatoparasupote@techhome.com</p>

       <h5>Telefone</h5>

        <p> (83) 4002-8922</p>

        <h5>Hórarios de atendimento</h5>

        <p> Seg a Sex - 08h às 18h</p>



       <h3>Problemas na interface?</h3>

       <h5>Estámos dispostos a receber críticas costrutivas para melhorar nossa aplicação! Deixando o melhor possivel para sua usabilidade e conforto. Prezamos sempre sua capacidade cognitica e sua experiencia com nossa aplicação. Coloque sua critíca ao lado! 



       </h5>

     </div>



   </div>



</main>



<!-- RODAPÉ -->

<footer class="rodape">

   <p>© 2026 TechHome Direitos Autorais Para José Matheus</p>

</footer>



</body>

</html>

