{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Pagamento - TechHome</title>
  <link rel="stylesheet" href="{% static 'css/Tela5_Pagamento.css' %}">
</head>

<body>

  <!-- CABEÇALHO -->
  <header class="cabecalho">
    <div class="cabecalho-esquerda">
      <h1 class="marca">TechHome</h1>
    </div>

    

    <nav class="menu">
      <a href="{% url 'TechHome:tela_principal'%}">Inicio</a>
      <a href="{% url 'TechHome:tela_categoria'}">Categoria</a>
      <a href="{% url 'TechHome:tela_contato' %}">Contato</a>
    </nav>
  </header>

  <!-- CONTEÚDO -->
  <main class="pagina-pagamento">

    <h2 class="titulo">Finalizar Compra</h2>

    <div class="container-pagamento">

      <!-- DADOS DO CLIENTE -->
      <form action="{% url 'TechHome:tela_finalizacao' produtos.id %}" method="post">
        {% csrf_token %} 
        <button type="submit" class="btn-finalizar">Finalizar Compra</button>

      </form>

       
      


      

      <!-- RESUMO -->
      <div class="resumo-compra">
        <h3>Resumo do Pedido</h3>
        <img src="{{produtos.imagem.url}}" alt="{{produtos.nome}}">
        <p>{{produtos.nome}}</p>
        <br>
        <p>Preço: R$ {{produtos.preco}}</p>
        <hr>
        <p class="total">Total: R$ {{produtos.preco}}</p>
      
      </div>

    </div>

  </main>

  <!-- RODAPÉ -->
  <footer class="rodape">
    <p>© 2026 TechHome Direitos Autorais Para José Matheus</p>
  </footer>

</body>
</html>