{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TechHome</title>
  <link rel="shortcut icon" href="{% static 'logo/Green_Retro_Vintage_Nature_Life_Circle_Badge_Logo__1_-removebg-preview (1).png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/Tela1_Home.css' %}">
</head>

<body>

  <!-- TOPO -->
  <header class="cabecalho">
    <div class="cabecalho-esquerda">
      <h1 class="marca">TechHome</h1>
    </div>

    <div class="cabecalho-centro">
      <form action="{% url 'TechHome:tela_principal' %}" method="GET">
        <input name="barra" type="text" placeholder="Buscar eletrônicos..." class="input-busca">
      </form>
      
    </div>
 
    <nav class="cabecalho-direita">
      <a href="#" id="cabecalho-usando">Inicio</a>
      <a href="{% url 'TechHome:tela_categoria' %}">Categoria</a>
      <a href="{% url 'TechHome:tela_contato' %}">Contato</a>
    </nav>
  </header>

  <!-- BANNER -->
  <section class="destaque">
    <div class="destaque-texto">
      <h2>Promoções da Semana</h2>
      <p>Até 40% OFF em produtos selecionados</p>
      <p>Melhores preços é aqui!</p>
    </div>
  </section>

  <!-- PRODUTOS -->
  <main class="conteudo">
    <h2 class="titulo">Produtos em destaque</h2>
    
    
    <div class="vitrine">
      {% for produto in produtos %}
        {% if forloop.counter <= 10 %}
      <div class="item-produto">
        
        <img src="{{produto.imagem.url }}" alt="{{produto.nome}}">
        
        <h3>{{produto.nome}}</h3>
        <p class="valor">R$ {{produto.preco}}</p>
        
        
        <a href="{% url 'TechHome:tela_detalhes' produto.id %}" class="acoes-produto">
          <button class="btn-carrinho">Ver detalhes</button>
        </a>
          
      </div>
        {% endif %}
      {% endfor %}
    </div>
  </main>

  <footer class="rodape">
    <p>© 2026 TechHome Direitos Autorais Para José Matheus</p>
  </footer>

</body>
</html>